/* @media only screen and (min-width:320px){
    .hearo-section{
        height: 700px;
   }  

}
@media only screen and (min-width:562px){
    .hearo-section{
        height: 550px;
   }
}

@media only screen and (min-width:768px){
    .navigation-iteam ul li{
         padding: 12px;
    }
    .hearo-section{
         height: 570px;
    }
}
@media only screen and (min-width:992px){
    .hearo-section{
        height: 630px;
   }
}

@media only screen and (min-width:1200px){
}
@media only screen and (min-width:1500px){ 
    
} */